.toolbar-navigation-github {
    background-color: #35a7b6;
}

.div-search-user {
    display: flex;
    border: 1px solid;
    border-radius: 6px;
    height: 35px;
    max-width: 180px;
}

.search-user {
    color: #ffffff !important;
    padding-left: 5px;
}

.button-search-user {
    color: #ffffff !important;
    padding: 5px !important;
}